@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  background-image: -moz-linear-gradient(top, #f4f4f4, whitesmoke);
  background-image: -webkit-linear-gradient(top, #f4f4f4, whitesmoke);
  background-image: -o-linear-gradient(top, #f4f4f4, whitesmoke);
  background-image: linear-gradient(to bottom, #f4f4f4, whitesmoke); }

form {
  width: 555px;
  padding: 30px 45px;
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;
  background-image: -moz-linear-gradient(top, #e2e2e4 0%, #f7f7fa 100%);
  background-image: -webkit-linear-gradient(top, #e2e2e4 0%, #f7f7fa 100%);
  background-image: -o-linear-gradient(top, #e2e2e4 0%, #f7f7fa 100%);
  background-image: linear-gradient(to bottom, #e2e2e4 0%, #f7f7fa 100%);
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: inset 0 1px 1px rgba(194, 194, 197, 0.5), 0 1px 3px rgba(194, 194, 197, 0.25), 0 2px 5px -3px rgba(194, 194, 197, 0.15);
  box-shadow: inset 0 1px 1px rgba(194, 194, 197, 0.5), 0 1px 3px rgba(194, 194, 197, 0.25), 0 2px 5px -3px rgba(194, 194, 197, 0.15);
  overflow: hidden; }

h2 {
  color: #989898;
  font-size: 36px;
  font-family: Helvetica;
  text-align: left;
  text-transform: capitalize;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  margin-bottom: 10px; }

h3 {
  color: #989898;
  font-size: 16px;
  font-family: Helvetica;
  text-align: left;
  text-transform: capitalize;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  margin-bottom: 30px; }

label {
  font-size: 22px;
  font-family: Helvetica;
  color: #999999;
  font-weight: normal;
  line-height: 1.636;
  text-align: left;
  text-shadow: 0px 1px 0px white; }

input[type="text"],
input[type="password"] {
  display: block;
  width: 100%;
  border: none 0;
  padding: 15px 30px;
  height: 60px;
  margin-bottom: 30px;
  background-color: rgba(0, 0, 0, 0.051);
  color: #989898;
  font-size: 25px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  text-shadow: 0 1px 1px rgba(189, 189, 189, 0.5);
  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.25), 0 2px 5px rgba(255, 255, 255, 0.15);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.25), 0 2px 5px rgba(255, 255, 255, 0.15); }
  input[type="text"]::-webkit-input-placeholder,
  input[type="password"]::-webkit-input-placeholder {
    color: #989898;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    text-transform: capitalize; }
  input[type="text"]:-moz-placeholder,
  input[type="password"]:-moz-placeholder {
    color: #989898;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    text-transform: capitalize; }
  input[type="text"]::-moz-placeholder,
  input[type="password"]::-moz-placeholder {
    color: #989898;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    text-transform: capitalize; }
  input[type="text"]:-ms-input-placeholder,
  input[type="password"]:-ms-input-placeholder {
    color: #989898;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    text-transform: capitalize; }
  input[type="text"]:focus, input[type="text"]:hover,
  input[type="password"]:focus,
  input[type="password"]:hover {
    -webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.075), 0 0 8px rgba(255, 255, 255, 0.6);
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.075), 0 0 8px rgba(255, 255, 255, 0.6); }
  input[type="text"]:focus,
  input[type="password"]:focus {
    outline: none 0; }

input[type="checkbox"] {
  width: 34px;
  height: 34px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: rgba(0, 0, 0, 0.051);
  box-shadow: 0px 1px 0px white; }

button {
  display: inline-block;
  width: 142px;
  border: 1px solid #c8c8cb;
  text-align: center;
  height: 54px;
  font-size: 22px;
  font-family: Helvetica;
  color: #666666;
  font-weight: bold;
  line-height: 1.636;
  text-transform: capitalize;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 1px 1px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-image: -moz-linear-gradient(top, #e2e2e4 0%, #f7f7fa 100%);
  background-image: -webkit-linear-gradient(top, #e2e2e4 0%, #f7f7fa 100%);
  background-image: -o-linear-gradient(top, #e2e2e4 0%, #f7f7fa 100%);
  background-image: linear-gradient(to bottom, #e2e2e4 0%, #f7f7fa 100%);
  -webkit-box-shadow: inset 0 2px 1px rgba(200, 200, 203, 0.85), 0 1px 2px rgba(200, 200, 203, 0.25);
  box-shadow: inset 0 2px 1px rgba(200, 200, 203, 0.85), 0 1px 2px rgba(200, 200, 203, 0.25);
  float: right; }
